<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta http-equiv='cache-control' content='no-cache'>
	<title>welcome</title>
	<link href="{{static_url("css/welcome.css")}}" type="text/css" rel="stylesheet" />
	<script type="text/javascript" src="{{static_url("script/jquery-2.1.3.min.js")}}"></script>
	<script type="text/javascript" src="{{static_url("script/welcome.js")}}"></script>
</head>
<body>
	<p id="name">{{name}}</p>

	<div class="level2 level1_1">
		<button id="gobacktocanvaslistpage">返回上一层</button>
	</div>

	<div class="level1">
		<button id="logout">退出登陆</button>
		<div>
			我的画布:
			<div id="canvasicreate"></div>
			别人邀请我参加的画布:
			<div id='canvasimin'></div>
			<br>
		</div>
		<button  id="createNewCanvas">创建一个新画布</button>
		<span></span>
	</div>
	<div class="level1_1" id="level1_1_Block">
		<div>
			画布名字:
			<input type="text" id="createcanvasname"><span></span>
		</div>
		邀请的人类：（至少一个最多四个哦）:
		<br>
		<button id="moreInvitedUser">增加一个人</button><br>
		<button id="submitInvitedUser">确认</button><span></span>
	</div>

	

	<div class="level2">
		画的线最多2000条哦
		<div id="canvasinfoBlock"></div>
		<div>
			<button id="dismissCanvas">删除这个画布</button>
		</div>
		<canvas id="myCanvas" width="1000" height="500" style="border:1px solid black;">
			你的浏览器部支持html5的canvas tag哦 换个啦.
		</canvas>
		<div>
			<button id="clear" style="font-size:100pt">清除我的笔迹</button>
		</div>
	</div>
	<div>
		<p id="lineAmount"></p>
		<p id="sendYet"></p>
		<p id="wbstate"></p>
		<p id="errormessage"></p>
		<p id="log"></p>
		
		
		<p id="message"></p>
		
		
		
		
		<p id="result"></p>
		<p id="onmessagetype"></p>
		<p id="ispress"></p>
		<p id="cord"></p>
	</div>
</body>

</html>